@charset "UTF-8";
/* ==========================================================================
   Include variables and mixins
   ========================================================================== */
/* ==========================================================================
   Global CSS variables
   ========================================================================== */
:root {
  --qode-main-color: #000;
  --qode-header-light-color: #fff;
  --qode-header-light-hover-color: #707070;
  --qode-header-dark-color: #000;
  --qode-header-dark-hover-color: #707070;
}

/* ==========================================================================
   Color variables
   ========================================================================== */
/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Specific mixins - start
   ========================================================================== */
/* ==========================================================================
   Specific mixins - start
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
body {
  font-family: "Work sans", sans-serif;
  font-size: 15px;
  line-height: 1.66em;
  font-weight: 400;
  color: #707070;
  background-color: #ffffff;
}

h1 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 39px;
  line-height: 1.26em;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin: 20px 0;
}

h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover {
  color: var(--qode-main-color);
}

h2 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 34px;
  line-height: 1.24em;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin: 20px 0;
}

h2 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h2 a:focus, h2 a:hover {
  color: var(--qode-main-color);
}

h3 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  line-height: 1.21em;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin: 20px 0;
}

h3 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h3 a:focus, h3 a:hover {
  color: var(--qode-main-color);
}

h4 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  line-height: 1.23em;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin: 20px 0;
}

h4 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h4 a:focus, h4 a:hover {
  color: var(--qode-main-color);
}

h5 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  line-height: 1.22em;
  letter-spacing: 0.2em;
  font-weight: 600;
  margin: 20px 0;
}

h5 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h5 a:focus, h5 a:hover {
  color: var(--qode-main-color);
}

h6 {
  font-family: "Work sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.3em;
  font-weight: 500;
  margin: 20px 0;
}

h6 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
}

h6 a:focus, h6 a:hover {
  color: var(--qode-main-color);
}

a,
p a {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

a:focus, a:hover,
p a:focus,
p a:hover {
  color: var(--qode-main-color);
}

p {
  margin: 10px 0;
}

blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 18px 0 20px 4%;
  border: none;
  font-family: "Work sans", sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  color: #353535;
  quotes: none;
  z-index: 1;
}

blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
  margin: 0;
  padding: 18px 0 20px 4%;
}

blockquote.wp-block-pullquote {
  padding: 25px !important;
  text-align: center;
}

blockquote.wp-block-pullquote.alignleft {
  max-width: 290px;
}

blockquote.wp-block-pullquote.alignright {
  max-width: 290px;
}

blockquote > * {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
}

blockquote > *:not(cite):before {
  content: '“';
}

blockquote > *:not(cite):after {
  content: '”';
}

blockquote p {
  margin: 0 !important;
}

blockquote:after {
  content: '';
}

blockquote cite {
  display: block;
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400 !important;
  text-align: inherit !important;
  text-transform: uppercase !important;
}
